<!--  Подключаем базовый шаблон-->
{% extends 'catalog/base.html' %} {# расширение базового шаблона #}
{% block content %}
    {% for object in object_list %} {# Цикл по всем объектам в каталоге #}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-text">
                  {{ object|truncatechars:90  }} {# Информация о товаре (длина сообщения обрезана до 100 символов) #}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'catalog:product_detail' object.pk %}">Посмотреть</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}